@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,800&display=swap');
.Landing_zomatoBg >  img{
    height: 100vh;
    width: 100vw;
}

.landing_overTheImageContainer{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing_logo_text {
    font-size: 94px;
    color: white ;
    height: 100px;
    font-family: 'Prompt', sans-serif;
    margin-top: -110px;
}

h2{
    font-size: 50px;
    color: white  !important;
    font-style: italic;
}
.landing_input_holder{
    width: 540px;
}

.ant-input{
    height: 40px;
}

.ant-input-search-button{
    height: 49px !important;
}
.ant-popover{
    width: 598px;
    overflow-y: scroll;
    max-height: 286px;
}
.ant-popover::-webkit-scrollbar {
    display: none;
}
.landing .ant-card{
    display: flex !important;
    width: 100% !important;
    max-height: 398px !important;
}

.navBarProfile{
    display: flex;
    position: absolute;
    /* top: 0; */
    right: 39px;
    top: 26px;
}